// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  border-style: dotted;
  border-width: 1rem;
  border-color: #ffa8a9;
  background-color: #ffcec4;
}

trix-editor.input {
  background-color: rgb(255, 221, 221);
}
