<div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Lorem ipsum</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas ex eu quam euismod posuere. Curabitur volutpat lacus vitae ante fringilla placerat. Nam dolor dui, rutrum et accumsan quis, interdum maximus ante. </p>
        <a href=""><%= link_to 'Enter Posts', posts_path, class: "btn btn-warning" %></a>
      </div>
</div>

